* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(103,103,103);
    background: radial-gradient(circle, rgba(103,103,103,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
}

.nav p {
    font-size: 1.5rem;
}

.nav {
    width: 66%;
    display: flex;
    height: 10%;
    justify-content: space-between;
    margin: 2% 0 0 16.8%
}

.nav-links {
    width: 30%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 10px;
}

.nav-links a:hover {
    font-weight: bold;
    transition-duration: 0.2s;

}

.more-info {
    border-style: dotted;
    border-radius: 50%;
}

main p {
    width: 60%;
    font-size: 1.3rem;
    margin: 2% 0 2% 20%;
}

main p b{
    font-size: 1.5rem;
}

main {
    text-align: center;
}

form {
    width: 100%;
    text-align: center;
}

#send-form {
    width: 60px;
    height: 20px;
    cursor: pointer;
}

.social {
display: flex;
justify-content: space-between;
width: 30%;
margin: 10px 0 0 29%;
}

.social a {
color: white;
font-size: 2rem;
}

@media only screen and (max-width: 450px) {
 
    .contain-porfolio {
        width: 95%;
        height: 100%;
        margin-left: 2.5%;
    }
    
    .contain-porfolio p {
        font-size: 1rem;
    }

    .nav {
        height: 10%;
        justify-content: space-between;
        margin: 10% 0 0 15%;
    }
    
    .nav-links {
        width: 100%;
    }
    
    .nav-links a {
        padding: 10px 5px;
    }

    .nav p {
        display: none;
    }

    main p {
        width: 90%;
        font-size: 1.8rem;
        margin: 15% 0 7% 5%;
    }
    
    main p b{
        font-size: 1.5rem;
    }
    
    .social {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 20% 0 0 40%;
    }
    
    .social a {
    color: white;
    font-size: 2rem;
    }

}